*.blend1
*.local.toml
*.orig
*~

.DS_Store
/.idea/
/.vs/
/.vscode/
/.vsconfig
/*.csproj
/*.DotSettings.user
/*.sln
/*.slnx
/Assets/Resources/PerformanceTestRunInfo.json
/Assets/Resources/PerformanceTestRunInfo.json.meta
/Assets/Resources/PerformanceTestRunSettings.json
/Assets/Resources/PerformanceTestRunSettings.json.meta
/Library/
/Logs/
/obj/
/Temp/
/UpgradeLog.htm
/UserSettings/
